[Unit]
Description=Celery Beat Service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/maryamhostel/backend
Environment="DJANGO_SETTINGS_MODULE=backend.settings"
Environment="PYTHONPATH=/var/www/maryamhostel/backend"
ExecStart=/var/www/maryamhostel/backend/venv/bin/celery -A backend beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
